body{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
  }

  .LogInPage{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }


  .form{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
    background-color: rgb(207, 7, 7);
    padding: 30px;
    width: 250px;
    max-width: 250px; 
  }